* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 10px;
}

h2 {
    text-align: center;
}

input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
}

input[type=search]:focus {
    /* background-color: lightblue; */
    border: 3px solid #555;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    transition: all 0.3s ease-out;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.filter {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}